<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.apache.httpcomponents" slot="testing">

    <resources>
        <resource-root path="httpclient-4.3.7.jar"/>
        <resource-root path="httpcore-4.3.3.jar"/>
        <resource-root path="httpcore-nio-4.3.3.jar"/>
        <resource-root path="httpasyncclient-4.0.1.jar"/>
        <resource-root path="httpmime-4.3.6.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.apache.commons.codec"/>
        <module name="org.apache.commons.logging"/>
        <module name="org.apache.james.mime4j"/>
    </dependencies>
</module>
